[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.12"
dependencies = [
    "django>=5.2.5",
    "django-widget-tweaks>=1.5.0",
    "groq>=0.31.0",
    "python-dotenv>=1.1.1",
]
